<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
  </head>
  <body>
    <h1>Welcome to the Admin Dashboard</h1>
    <form action="/auth/logout" method="GET">
      <button type="submit">Logout</button>
    </form>

    <!-- Add a form to delete an employee -->
    <!-- <h2>Delete Employee</h2>
    <form action="/auth/delete" method="POST">
        <label for="usernameToDelete">Username to Delete: </label>
        <input type="text" id="usernameToDelete" name="username" required>
        <button type="submit">Delete Employee</button>
    </form> -->

    <!-- Display success or error messages here -->

    <h2>Add Employee</h2>
    <form action="/auth/addEmployee" method="POST">
      <label for="username">Username: </label>
      <input type="text" id="username" name="username" required />
      <label for="password">Password: </label>
      <input type="password" id="password" name="password" required />
      <button type="submit">Add Employee</button>
    </form>

    <a href="/employee"> <!-- Use an anchor tag for GET request --> </a>
    <h1>Employee List</h1>
    <ol>
      <% employees.forEach(employee => { %>
      <li><%= employee.username %></li>
      <form action="/auth/delete" method="POST">
        <input type="hidden" name="username" value="<%= employee.username %>" />
        <button type="submit">Delete Employee</button>
      </form>
      <form id="edit-form" action="/update" method="POST">
        <input type="hidden" name="oldUsername" value="<%= employee.username %>" />
        <input
          type="text"
          name="newUsername"
          placeholder="New Username"
          required
          style="display: none;"
        />
        <button id="edit-button" type="button">Edit Username</button>
        <button id="update-button" type="submit" style="display: none;">Update Username</button>
      </form>
      <% }); %>
    </ol>
  </body>
  <script>
    // JavaScript to handle button click and show/hide elements
    const editButton = document.getElementById('edit-button');
  const updateButton = document.getElementById('update-button');
  const newUsernameInput = document.querySelector('input[name="newUsername"]');
  
  editButton.addEventListener('click', () => {
    // Show the input field and change button text
    newUsernameInput.style.display = 'block';
    editButton.style.display = 'none';
    updateButton.style.display = 'block';
  });
  </script>
  
</html>
